<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Tofu</string>
	<key>CFBundleDisplayName</key>
	<string>Tofu</string>
	<key>CFBundleIdentifier</key>
	<string>com.lynn.tofucompanion</string>
	<key>CFBundleVersion</key>
	<string>11.4</string>
	<key>CFBundleShortVersionString</key>
	<string>11.4</string>
	<key>CFBundleExecutable</key>
	<string>Tofu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>TofuIcon</string>
</dict>
</plist>
